

$color-fondo: antiquewhite;
$color-primario: #551a8b;
$color-secundario: black;
$color-hover: #76287c;
$color-texto: #fff;
$color-enlace: #1869e3;

* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../../../../public/img/fondo1.jpg);
  background-repeat: no-repeat;
  font-family: 'Archivo', sans-serif;
}

header {
  width: 100%;
  height: 400px;
  position: relative;

  .nameandlogo__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    
    
    .name__Phoenix {
      margin-top: 100px;
      position: static;
      font-size: 3rem;
      border: 6px dashed;
    }
   
    .logo {
      background-image: url(../../../../public/img/LOGOFENIX.png);
      width: 220px;
      height: 200px;
      position: static;
      top: 20px;
      margin-top: 5px;
      background-size: cover;
      overflow: visible;   
    } 
  }
}

.nav-bar__nav-list {
  list-style: none;
  display: flex;
  font-size: 40px;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-top: -170px;
  border: 1px solid black;
  gap: 0.1em;
  background-color: $color-secundario;
  width: 100%;
  color: $color-primario;

  .nav-bar__nav-item {
    margin: 10px 5px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    color: $color-primario;
  }
}

.search-bar__form-container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: aliceblue;
  z-index: 1;
  padding: 3px;
}

.search-bar__carrito-container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 240px;
  z-index: 1;
  background-color: aliceblue;
  align-items: center;
  padding: 5px;
}



.container {
  display: flex;
}

main {
  width: 80%;
  background-color: $color-fondo;
}

.sidebar {
  width: 20%;
  background-color: #1869e3;
  background-image: url(../../../../public/img/hotsale.jpg);
  background-size: 700px 200px;
  background-size: contain;
  background-repeat: repeat;
}

.main__cards {
  background-color: $color-fondo;
  border-radius: 3px;
}

.section-cards__header {
  height: 7rem;
  background-color: $color-secundario;
  color: $color-primario;
  padding: 15px;
  overflow-x: hidden;
  box-sizing: border-box;

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 20px;
  }
}

.nosotros__p {
  font-size: 2.2rem;
  padding: 25px;
  text-align: center;
  line-height: 1.5;
  color: #551a8b;
  font-weight: 600;
}

.img__nosotros {
  width: 500px;
  border: 2px solid black;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

footer {
  padding: 30px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  color: $color-primario;
  font-weight: bold;
  background-color: $color-secundario;

  a {
    text-decoration: none;
    margin: 20px 10px;
    color: inherit;
  }

  p {
    margin: 15px 0;
  }
}


// ---------------CARDS------------

.cards__container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    
  }
  
  .card {
    width: 320px;
    height: 420px;
    background: $color-primario;
    border-radius: 20px;
    border: 2px solid black;
    margin: 20px;

  
    
  .card__img {
      width: 80%;
      height: 204px;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      margin: auto;
      margin-top: 5px;
      
  
      img {
        max-width: 80%;
        border: 2px solid black;
      }
    }
  
      .card__item {
      
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  
      h3 {
        font-size: 35px;
        color: $color-texto;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 2px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
      }
  
      .item__price {
        font-size: 30px;
        color: $color-texto;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 0px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
      }
  
      .btn__Buy {
              
        padding: 10px 30px;
        margin-top: 23px;
        color: $color-texto;
        text-decoration: none;
        font-weight: bold;
        background: $color-enlace;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 2px solid black;
         

      }
       
      .btn__Buy a {
        color: $color-secundario; 
        font-weight: bold;
        text-decoration: none;
      }
       
      &:hover .btn__Buy {
        border: 1px solid $color-fondo;
      }
    }
  }

//   ------------FORMULARIO-------------

.fmr__alta {
    padding: 30px;
    margin: auto;
    border-radius: 3px;
    display: inline-block;
    color: #551a8b;
  }
  
  #frmContacto {
    padding: 30px;
    border-radius: 3px;
    margin: auto;
    border-radius: 3px;
  }
  
  .frmLabel {
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin-bottom: 2px;
    margin-top: 10px;
    color: #551a8b;
  }
  
  #descripcion_larga {
    width: 100%;
    height: 15rem;
  }
  
  #checkbox_envio[type="checkbox"] {
    transform: scale(2.5);
  }
  
  .siyno {
    text-align: center;
    margin: 15px;
    font-size: 1.3rem;
  }
  
  .field {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    width: 100%;
  
    &:focus {
      border-color: $color-hover;
      border: 2px solid;
    }
  }
  
  .btn__form {
    padding: 10px 30px;
    margin-top: 20px;
    color: $color-texto;
    text-decoration: none;
    background: $color-enlace;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 10rem;
    height: 4rem;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  
//   ---------BREAKPOINTS--------

@media (max-width: 768px) {
    .nameandlogo__container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .name__Phoenix {
      margin-top: 90px;
      position: static;
      font-size: 3rem;
    }
    
    .logo img {
      position: static;
      width: 200px;
      top: 20px;
      z-index: 10;
    }
    
    .nav-bar__nav-list {
      top: 180px;
    }
    
    .nav-bar__nav-item {
      font-size: 12px;
      margin: 5px;
    }
    
    .search-bar__form-container {
      position: absolute;
      transform: translate(0, -50%);
      transform: scale(0.7);
      top: 1px;
      right: -20px;
    }
    
    .sidebar {
      display: none;
    }
    
    main {
      width: 100%;
    }
    
    .search-bar__carrito-container {
      transform: scale(0.7);
      top: 1px;
      margin-right: -70px;
    }
    
    .cards__container {
      justify-content: center;
    }

    .nosotros__p {
      font-size: 1.5rem;
    }

  }

  
  
  @media (max-width: 992px) and (min-width: 769px) {
    .name__Phoenix {
      margin-top: 90px;
      position: static;
      font-size: 3rem;
      border: 6px dashed;
    }
    
    .logo img {
      position: static;
      z-index: 10;
    }
    
    .nav-bar__nav-list {
      font-size: 30px;
      margin-top: -175px;
    }
    
    .search-bar__form-container {
      top: 14px;
      right: 22px;
    }
    
    .search-bar__carrito-container {
      top: 14px;
      margin-right: 15px;
    }
    
    .cards__container {
      justify-content: center;
    }
  }
  
  
